@import 'https://fonts.googleapis.com/css?family=Oswald:200,300,400,500&subset=vietnamese';
@font-face {
  font-family: 'Deadstock';
  src: url("../fonts/Dead Stock - Demo.ttf"); }

@font-face {
  font-family: 'Streamster';
  src: url("../fonts/Streamster.ttf"); }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  font-family: "Oswald", sans-serif;
  color: #333; }

html {
  font-size: 16px; }

body {
  font-family: "Oswald", sans-serif;
  line-height: 1.4; }

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: 500; }

h1 {
  font-size: 2.25rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.875rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.25rem; }

h6 {
  font-size: 1.15rem; }

p {
  font-weight: 300;
  text-align: justify; }

li, span, select {
  font-weight: 200; }

span {
  font-size: 0.85rem; }

a {
  color: #236ED4; }

.lead {
  font-weight: 400;
  font-size: 1.15rem;
  margin-bottom: .5rem; }

.white {
  color: white; }

.red {
  color: #FF555C; }

.blue {
  color: #236ED4; }

.center {
  text-align: center; }

.loader-ellips {
  font-size: 20px;
  /* change size here */
  position: relative;
  width: 4em;
  height: 1em;
  margin: 10px auto; }

.loader-ellips__dot {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 0.5em;
  background: #555;
  /* change color here */
  position: absolute;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite; }

.loader-ellips__dot:nth-child(1),
.loader-ellips__dot:nth-child(2) {
  left: 0; }

.loader-ellips__dot:nth-child(3) {
  left: 1.5em; }

.loader-ellips__dot:nth-child(4) {
  left: 3em; }

@keyframes reveal {
  from {
    transform: scale(0.001); }
  to {
    transform: scale(1); } }

@keyframes slide {
  to {
    transform: translateX(1.5em); } }

.loader-ellips__dot:nth-child(1) {
  animation-name: reveal; }

.loader-ellips__dot:nth-child(2),
.loader-ellips__dot:nth-child(3) {
  animation-name: slide; }

.loader-ellips__dot:nth-child(4) {
  animation-name: reveal;
  animation-direction: reverse; }

.btn-info {
  background-color: #236ED4;
  border-radius: 100px;
  border: none;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 0.65rem 2rem; }

.form-control {
  font-weight: 200;
  font-size: 1rem; }

.fa-facebook:hover {
  color: #3b5999; }

.fa-twitter:hover {
  color: #55acee; }

.fa-google-plus:hover {
  color: #dd4b39; }

.fa-instagram:hover {
  color: #e4405f; }

.fa-pinterest:hover {
  color: #bd081c; }

.fa-deviantart:hover {
  color: #00CE3E; }

.fa-linkedin:hover {
  color: #0077B5; }

.fa-behance:hover {
  color: #1769ff; }

hr {
  border-top: 1.25px solid #696969;
  padding: 0; }

.price {
  color: #236ED4; }

.breadcrumb {
  margin: 0; }
  .breadcrumb li {
    text-transform: uppercase; }

.art {
  font-family: "Deadstock";
  color: #FF555C; }

.without-frame {
  font-family: "Streamster";
  color: #696969; }

.navbar-default {
  background-color: transparent;
  border-color: transparent;
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  border-radius: 0px;
  z-index: 1000; }

.navbar-default .navbar-nav > li > a {
  color: white;
  text-transform: uppercase; }

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding: 1rem .75rem 1.35rem; }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: white;
    background-color: #EDEDED; }
  .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: white;
    background-color: #BDBDBD; } }

.logo-brand {
  width: 180px;
  height: auto;
  padding: .1rem;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1); }

.dropdown-toggle__icon, .nav-link__icon {
  font-size: 1.25rem;
  color: white; }

.dropdown-menu > li > a {
  line-height: 1.6;
  color: #696969;
  font-weight: 300; }

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  font-size: .915rem;
  font-weight: 200;
  color: #696969; }

.content-block-one {
  padding: .5rem;
  margin-bottom: 0px;
  color: inherit;
  background-color: #EDEDED;
  display: flex;
  align-items: center;
  justify-content: center; }
  .content-block-one .wrapper {
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    align-items: center; }

.content-block-one h1,
.content-block-one .h1 {
  color: inherit; }

.content-block-one p {
  font-size: 1.25rem;
  font-weight: 200; }

.content-block-one > hr {
  border-top-color: #d5d5d5; }

.container .content-block-one {
  border-radius: 6px; }

.content-block-one .container {
  max-width: 100%; }

@media screen and (min-width: 768px) {
  .content-block-one {
    padding-top: 3rem;
    padding-bottom: 3rem; }
  .container .content-block-one {
    padding-right: 3.75rem;
    padding-left: 3.75rem; }
  .content-block-one h1,
  .content-block-one .h1 {
    font-size: 3.94rem; } }

.content-space-one {
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background: url("../images/covers/Dancing-fire-Sztukowski.jpg") no-repeat center center fixed;
  background-size: cover;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  .content-space-one .text-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1170px;
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5); }
    .content-space-one .text-wrap h2 {
      text-align: center;
      text-transform: none;
      font-size: 300;
      color: #f7f7f7; }
    .content-space-one .text-wrap .page-break {
      width: 20vw;
      height: .15rem;
      margin: .5rem 0;
      background-color: #fff;
      align-self: flex-end; }
    .content-space-one .text-wrap p {
      text-transform: uppercase;
      color: #f7f7f7;
      align-self: flex-end; }

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.gradient {
  background-image: linear-gradient(180deg, rgba(28, 28, 28, 0.71), transparent, transparent, rgba(0, 0, 0, 0.39));
  width: 100%;
  height: 100%;
  position: fixed; }

.full-screen > img {
  height: 100vh !important;
  max-width: none !important; }

.carousel-caption h3 {
  font-family: "Streamster";
  text-transform: none;
  font-size: 3.5rem;
  color: white; }

.carousel-caption p {
  font-size: 1.25rem;
  color: white;
  text-align: center; }

.carousel-caption button {
  padding: .5rem 1.65rem;
  margin-top: 1rem;
  font-size: 1.1rem; }

.home-intro {
  margin: 3rem 0; }
  .home-intro__brands {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #EDEDED;
    margin-top: 3rem;
    padding: 2rem 0 2rem 0; }
    .home-intro__brands__holder {
      justify-self: center;
      align-self: center;
      padding: .5rem 0 .5rem 0; }
      .home-intro__brands__holder__brand {
        padding: .25rem .5rem; }
  .home-intro__infographics {
    margin: 0 2rem 0 2rem;
    padding: 3rem 0 3rem 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr); }
    .home-intro__infographics__holder {
      justify-self: center;
      align-self: center; }
      .home-intro__infographics__holder > * {
        text-align: center; }
    .home-intro__infographics__footer {
      padding: 1rem 0 1rem 0;
      background-color: #FF555C; }

.home-art-panels {
  max-width: 1170px;
  min-height: 90vh;
  overflow: hidden;
  display: flex; }
  .home-art-panels__panel {
    width: 100%;
    background: #FF555C;
    box-shadow: inset 0 0 0 0.25rem rgba(255, 255, 255, 0.05);
    text-align: center;
    align-items: center;
    transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
    font-size: 1rem;
    background-size: cover;
    background-position: center;
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column; }
    .home-art-panels__panel p {
      color: white;
      text-shadow: 0 0 4px rgba(0, 0, 0, 0.65), 0 0 10px rgba(0, 0, 0, 0.45); }
    .home-art-panels__panel p:nth-child(2) {
      font-family: 'Deadstock';
      font-size: 3rem; }
    .home-art-panels__panel > * {
      margin: 0;
      width: 100%;
      transition: transform 0.5s;
      flex: 1 0 auto;
      display: flex;
      justify-content: center;
      align-items: center; }
    .home-art-panels__panel > *:first-child {
      transform: translateY(-100%); }
    .home-art-panels__panel > *:last-child {
      transform: translateY(100%); }

.panel1 {
  background-image: url("../images/panels/panel1.jpg"); }

.panel2 {
  background-image: url("../images/panels/panel2.jpg"); }

.panel3 {
  background-image: url("../images/panels/panel3.jpg"); }

.panel4 {
  background-image: url("../images/panels/panel4.jpg"); }

.panel5 {
  background-image: url("../images/panels/panel5.jpg"); }

.home-art-panels__panel.open-active > *:first-child {
  transform: translateY(0); }

.home-art-panels__panel.open-active > *:last-child {
  transform: translateY(0); }

.home-art-panels__panel.open {
  font-size: 2rem;
  flex: 5; }

.home-best-sellers-holder {
  display: grid;
  grid-template-columns: repeat(4, 1fr); }

#home-airbnb-feature {
  min-height: 90vh;
  display: flex;
  flex-direction: column; }

.home-airbnb-holder {
  position: relative;
  background-size: cover;
  background-position: center; }
  .home-airbnb-holder--h3 {
    font-family: 'Deadstock';
    font-size: 4rem;
    text-transform: none;
    color: white;
    text-align: center;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.25), 0 0 10px rgba(0, 0, 0, 0.1); }
  .home-airbnb-holder p {
    text-align: center;
    font-weight: 400;
    font-size: 1.5rem; }
  .home-airbnb-holder div {
    width: 20%; }

.home-airbnb-cover {
  background-image: url("../images/airbnb-cover/airbnb-cover.jpg");
  min-height: 100vh; }

#home-airbnb-logo, #home-airbnb-art, #home-airbnb-button {
  position: absolute;
  bottom: 0;
  margin: 0.5rem; }

#home-airbnb-art {
  right: 0; }

#home-airbnb-button {
  left: 45%;
  bottom: -2rem; }

.footer {
  margin: 5rem 0;
  background-color: #EDEDED;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .footer__subscription {
    width: 100%;
    background-color: #FF555C;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center; }
    .footer__subscription__content {
      max-width: 1170px;
      width: 100%;
      padding: .5rem 0;
      display: flex;
      align-items: center;
      justify-content: center; }
      .footer__subscription__content i {
        flex: 1;
        font-size: 2.5rem;
        color: white;
        padding-left: 2rem; }
      .footer__subscription__content div {
        flex: 10; }
        .footer__subscription__content div > * {
          color: white; }
      .footer__subscription__content input {
        flex: 8;
        height: 2rem;
        margin: .5rem; }
      .footer__subscription__content button {
        flex: 2;
        height: 2rem;
        margin: .5rem 2rem .5rem .25rem;
        padding: 0 .5rem;
        border-radius: 5px;
        font-size: 1.2rem; }
  .footer__info {
    max-width: 1170px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 2fr) 3fr; }
    .footer__info__element {
      padding: 3rem 2rem 1rem; }
      .footer__info__element h6 {
        text-transform: none;
        text-decoration: underline;
        color: #FF555C;
        letter-spacing: -0.05rem; }
      .footer__info__element li {
        padding: 0 0.5rem 0;
        color: #696969;
        line-height: 2rem; }
    .footer__info__payments {
      padding: 3rem 2rem 1rem;
      display: flex;
      flex-direction: column; }
      .footer__info__payments select.selectpicker {
        height: 2.2rem;
        width: 100%;
        color: #696969;
        border: 1.3px solid #696969; }
      .footer__info__payments > * {
        margin: .2rem 0; }
      .footer__info__payments > *:last-child {
        margin: 1rem 0; }
      .footer__info__payments__icons {
        display: grid;
        grid-template-columns: repeat(6, 1fr); }
        .footer__info__payments__icons i {
          font-size: 1.5rem;
          color: #696969; }
        .footer__info__payments__icons i:hover {
          color: black; }
        .footer__info__payments__icons > * {
          justify-self: center;
          align-self: center; }
  .footer__socials {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.2rem;
    border-top: 1.25px solid #696969;
    border-bottom: 1.25px solid #696969; }
    .footer__socials i {
      font-size: 1.5rem;
      color: #696969;
      padding: 0 1rem;
      cursor: pointer; }
  .footer__copyright {
    max-width: 1170px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .footer__copyright img {
      width: 6.5rem;
      height: auto;
      margin: .5rem auto .5rem 2rem; }

.parallax {
  /* The image used */
  background-image: url("../images/covers/cover4.jpg");
  /* Full height */
  height: 75vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.about-intro h1 {
  margin: 2rem; }

.about-intro__article {
  padding: 1rem 3rem 3rem; }
  .about-intro__article p {
    font-size: 1.13rem; }

.about-intro__feature h6 {
  margin: 0 0 2rem; }

.about-intro__feature__brands {
  background-color: #EDEDED;
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-around; }

.about-core {
  padding: 3rem 0;
  display: flex;
  flex-direction: column; }
  .about-core h1 {
    margin-bottom: 2rem; }
  .about-core__agencies {
    display: flex;
    min-height: 90vh; }
    .about-core__agencies__agency {
      flex: 1 0 auto;
      width: 25%;
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column; }
      .about-core__agencies__agency__overlay1 {
        display: none; }
        .about-core__agencies__agency__overlay1 h6 {
          margin: 1rem;
          color: #EDEDED; }
        .about-core__agencies__agency__overlay1 p {
          padding: 1rem;
          margin: 1rem 0;
          overflow: hidden; }
        .about-core__agencies__agency__overlay1__links {
          margin: 3rem 0 0;
          cursor: pointer; }
          .about-core__agencies__agency__overlay1__links i {
            margin: 1rem;
            font-size: 1.2rem;
            color: white; }
      .about-core__agencies__agency__overlay2 {
        display: none; }
  .about-core__footer {
    height: 11.6rem;
    background-color: #FF555C;
    display: flex;
    justify-content: center;
    align-items: center; }
    .about-core__footer h4 {
      color: white; }
  .about-core button {
    align-self: center;
    margin-top: -1.6rem; }

.agency1 {
  background-image: url("../images/agencies/agency1.jpg"); }

.agency2 {
  background-image: url("../images/agencies/agency2.jpg"); }

.agency3 {
  background-image: url("../images/agencies/agency3.jpg"); }

.agency4 {
  background-image: url("../images/agencies/agency4.jpg"); }

.about-core__agencies__agency:hover > .about-core__agencies__agency__overlay1 {
  display: grid;
  background-color: rgba(32, 32, 32, 0.5);
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }

.about-core__agencies__agency:hover > .about-core__agencies__agency__overlay2 {
  display: grid;
  width: 100%;
  background-color: #FF555C;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.about-videos {
  margin: 6rem 0 8rem;
  position: relative; }
  .about-videos__bg-art {
    font-family: 'DeadStock';
    font-size: 18rem;
    color: #BDBDBD;
    opacity: .2;
    z-index: -99;
    position: absolute;
    top: -3rem;
    left: 0; }
  .about-videos__video {
    display: flex; }
    .about-videos__video__title {
      display: flex;
      flex-direction: column; }
    .about-videos__video iframe {
      border-radius: .8rem;
      background-color: #FF555C; }
  .about-videos__bg-without-frame {
    font-family: 'Streamster';
    font-size: 10.6rem;
    color: #BDBDBD;
    opacity: .2;
    z-index: -99;
    position: absolute;
    bottom: -8rem;
    right: 0; }

.contact-us {
  margin: 3rem;
  padding: 3rem;
  border-radius: 1rem;
  background-color: #EDEDED;
  box-shadow: 1px 2px 4px 0 rgba(170, 170, 170, 0.34);
  display: flex;
  flex-direction: column; }
  .contact-us__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 1rem; }
    .contact-us__info__ele {
      display: grid;
      grid-template-columns: 1fr 4fr; }
      .contact-us__info__ele div p {
        font-weight: 300;
        font-size: 1.13rem; }
      .contact-us__info__ele__symbol {
        border: 1px solid #333;
        border-radius: 50%;
        padding: .6rem;
        width: 56px;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center; }
        .contact-us__info__ele__symbol i {
          font-size: 1.5rem; }
  .contact-us__forms {
    margin: 2rem 0 0;
    z-index: 2; }
    .contact-us__forms > * {
      margin: 1.2rem 0 0;
      padding: 1.2rem; }
  .contact-us button {
    align-self: center;
    margin-top: -1.5rem;
    z-index: 5; }
  .contact-us__map {
    margin: 0 -2rem;
    border-radius: 1rem; }
    .contact-us__map iframe {
      margin: -5rem 0 -2rem;
      z-index: 3; }

.user-summary {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 4rem;
  margin-bottom: 2rem; }
  .user-summary h4 {
    margin: .5rem 0 .5rem; }
  .user-summary img {
    padding: 1rem; }
  .user-summary__info {
    display: flex;
    flex-direction: column; }
    .user-summary__info__element {
      margin: .1rem;
      display: flex;
      align-items: center;
      justify-content: flex-start; }
      .user-summary__info__element div {
        border: 1px solid #696969;
        border-radius: 50%;
        width: 1.5rem;
        height: 1.5rem;
        padding: .8rem;
        display: flex;
        align-items: center;
        justify-content: center; }
      .user-summary__info__element p {
        padding: 0 .5rem;
        color: #696969; }

#user-info {
  margin: 2rem; }

.user-info {
  margin: 2rem 0 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .user-info__element {
    padding: .5rem 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center; }
    .user-info__element h5 {
      text-transform: none; }
    .user-info__element input {
      width: 35rem;
      height: 2.38rem; }
  .user-info button {
    margin-top: 2rem; }

.user-history {
  width: 95vw;
  margin: 3rem auto; }
  .user-history__thead {
    background-color: #BDBDBD; }
    .user-history__thead tr {
      margin-bottom: .5rem !important; }
      .user-history__thead tr th {
        font-size: 1.25rem;
        color: white;
        text-transform: uppercase;
        padding: 1.5rem 1rem !important;
        border: none !important; }
  .user-history__tbody tr td {
    padding: 1rem 2rem !important;
    border-top: .5rem solid white !important; }
    .user-history__tbody tr td span {
      display: inline-block; }
  .user-history__product {
    display: flex; }
    .user-history__product img {
      width: 25%;
      height: 25%; }
    .user-history__product div {
      padding: 0 1rem;
      display: flex;
      flex-direction: column; }
      .user-history__product div h5.price {
        margin-top: auto; }
  .user-history td {
    font-size: 1.1rem; }

table {
  border-collapse: separate;
  border-radius: 1.25rem; }

thead:first-child tr:first-child th:first-child, tbody:first-child tr:first-child td:first-child {
  border-radius: 1.25rem 0 0 0; }

thead:last-child tr:last-child th:first-child, tbody:last-child tr:last-child td:first-child {
  border-radius: 0 0 0 1.25rem; }

thead:last-child, th:last-child {
  border-radius: 0 1.25rem 0 0; }

tr:last-child td:last-child {
  border-radius: 0 0 1.25rem 0; }

.product-detail {
  padding: 0 1.5rem; }
  .product-detail__title {
    margin-bottom: 1rem; }
  .product-detail__info {
    display: grid;
    grid-template-columns: 65fr 35fr;
    grid-gap: 1rem; }
    .product-detail__info__illus #carousel {
      margin-top: 1.88rem;
      width: 100%;
      height: 100%; }
    .product-detail__info__illus .item .thumb {
      width: 25%;
      cursor: pointer;
      float: left; }
    .product-detail__info__illus .item .thumb img, .product-detail__info__illus .item img {
      width: 100%;
      height: auto; }
    .product-detail__info__illus .carousel-control.left, .product-detail__info__illus .carousel-control.right {
      background-image: none;
      width: 8%; }
      .product-detail__info__illus .carousel-control.left span, .product-detail__info__illus .carousel-control.right span {
        color: white; }
    .product-detail__info__options {
      display: flex;
      flex-direction: column; }
      .product-detail__info__options__tags {
        margin-bottom: .5rem; }
        .product-detail__info__options__tags i {
          color: #696969;
          font-size: 1.15rem;
          margin: 0 .5rem; }
        .product-detail__info__options__tags span {
          text-transform: uppercase;
          background-color: #BDBDBD;
          color: white;
          cursor: pointer;
          border: 1px solid #BDBDBD;
          border-radius: .2rem;
          padding: 0 .5rem; }
      .product-detail__info__options__detail {
        background-color: #EDEDED;
        display: flex;
        flex-direction: column;
        padding: 1rem 1rem 0; }
        .product-detail__info__options__detail h6 {
          font-size: 1rem; }
        .product-detail__info__options__detail__selects {
          padding: .5rem 0;
          display: grid;
          grid-template-columns: 3fr 1fr;
          grid-gap: .5rem; }
          .product-detail__info__options__detail__selects div {
            padding: .5rem 0; }
        .product-detail__info__options__detail__socials {
          padding: .5rem 0 3rem;
          display: flex;
          align-items: center; }
          .product-detail__info__options__detail__socials__circle {
            border: 1px solid #BDBDBD;
            width: 2.25rem;
            height: 2.25rem;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 .5rem; }
            .product-detail__info__options__detail__socials__circle:first-child {
              margin: 0 auto 0 .25rem; }
            .product-detail__info__options__detail__socials__circle i {
              color: #696969;
              font-size: 1.25rem; }
            .product-detail__info__options__detail__socials__circle:hover {
              background-color: white;
              border: white; }
    .product-detail__info button.cta {
      align-self: center;
      transform: translateY(-1.5rem); }
  .product-detail__author {
    background-color: #EDEDED;
    margin: 1rem 0 2rem;
    padding: 1rem 1rem 0; }
    .product-detail__author li {
      font-weight: 300; }
    .product-detail__author p {
      padding: .5rem 1rem; }
    .product-detail__author ul {
      margin: 0 1rem; }
    .product-detail__author button {
      text-transform: none;
      margin-left: .5rem;
      padding: .35rem 1.5rem;
      transform: translateY(1.25rem); }
  .product-detail__comments {
    background-color: #EDEDED;
    padding: 0 2rem; }
    .product-detail__comments hr {
      margin: 1rem 0;
      border-top: 1.25px solid #BDBDBD; }
    .product-detail__comments__comment__title {
      display: flex;
      align-items: center; }
      .product-detail__comments__comment__title i {
        color: #236ED4; }
    .product-detail__comments__reply {
      padding: 0 2rem 0; }
      .product-detail__comments__reply__title {
        display: flex;
        align-items: center; }
        .product-detail__comments__reply__title i {
          color: #236ED4; }
    .product-detail__comments__input {
      margin: 1.5rem 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start; }
      .product-detail__comments__input__rate {
        display: flex;
        align-items: center;
        margin-top: 1rem; }
        .product-detail__comments__input__rate .lead {
          text-transform: uppercase; }
        .product-detail__comments__input__rate span {
          padding: 0 1rem 0; }
          .product-detail__comments__input__rate span i {
            font-size: 1.2rem; }
      .product-detail__comments__input__name-email {
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .product-detail__comments__input__name-email div {
          width: 49%;
          padding: 1rem 0; }
      .product-detail__comments__input button {
        align-self: center;
        padding: .5rem 1.5rem;
        transform: translateY(-1.5rem); }

.funkyradio div {
  clear: both;
  overflow: hidden; }

.funkyradio label {
  width: 100%;
  border-radius: .25rem;
  padding: 0;
  background-color: #f7f7f7; }

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none; }
  .funkyradio input[type="radio"]:empty ~ label,
  .funkyradio input[type="checkbox"]:empty ~ label {
    position: relative;
    line-height: 2.25rem;
    text-indent: 3.25rem;
    margin-top: .75rem;
    cursor: pointer;
    user-select: none;
    color: #696969;
    font-weight: 300;
    text-transform: uppercase; }
    .funkyradio input[type="radio"]:empty ~ label sup,
    .funkyradio input[type="checkbox"]:empty ~ label sup {
      font-weight: 200;
      font-size: .8rem;
      color: #236ED4;
      opacity: .6; }
    .funkyradio input[type="radio"]:empty ~ label:before,
    .funkyradio input[type="checkbox"]:empty ~ label:before {
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      left: 0;
      content: '';
      width: 2.5em;
      background: #BDBDBD;
      border-radius: 3px 0 0 3px; }

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #333;
  background-color: white; }
  .funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
  .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
    font-family: FontAwesome;
    content: '\f00c';
    text-indent: .9em;
    color: #EDEDED; }

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: black;
  background-color: #BDBDBD;
  border: none; }
  .funkyradio input[type="radio"]:checked ~ label sup,
  .funkyradio input[type="checkbox"]:checked ~ label sup {
    opacity: 1; }
  .funkyradio input[type="radio"]:checked ~ label:before,
  .funkyradio input[type="checkbox"]:checked ~ label:before {
    font-family: FontAwesome;
    content: '\f00c';
    text-indent: .9em;
    color: #333;
    background-color: white; }

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px black; }

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #696969;
  background-color: #BDBDBD; }

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #236ED4; }

.grid {
  max-width: 1024px; }

/* reveal grid after images loaded */
.grid.are-images-unloaded {
  opacity: 0; }

.grid__item,
.grid__col-sizer {
  width: 32%; }

.grid__gutter-sizer {
  width: 1.5%; }

/* hide by default */
.grid.are-images-unloaded .image-grid__item {
  opacity: 0; }

.grid__item {
  margin-bottom: 1rem;
  float: left; }

.grid__item--height1 {
  height: 160px;
  background: #EA0; }

.grid__item--height2 {
  height: 260px;
  background: #C25; }

.grid__item--height3 {
  height: 320px;
  background: #19F; }

.grid__item--width2 {
  width: 66%; }

.grid__item img {
  display: block;
  max-width: 100%; }

.page-load-status {
  display: none;
  /* hidden by default */
  padding-top: 20px;
  border-top: 1px solid #DDD;
  text-align: center;
  color: #777; }

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .products__search-sort {
    background-color: #EDEDED;
    padding: .5rem;
    max-width: 1170px;
    width: 100%;
    transform: translateY(-1.65rem);
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 12vw; }
    .products__search-sort .btn-group {
      width: 24vw !important;
      min-width: 159.67px !important; }
    .products__search-sort .input-group button {
      background-color: #236ED4;
      border: 1px solid #236ED4; }
      .products__search-sort .input-group button i.fa-search {
        color: white; }
    @media screen and (min-width: 1170px) {
      .products__search-sort {
        grid-gap: 306.5px; }
        .products__search-sort .btn-group {
          width: 280.28px !important; } }
  .products__main {
    max-width: 1170px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 1rem; }
    .products__main > * {
      width: 100%; }
    .products__main__navbar {
      background-color: #EDEDED; }
      .products__main__navbar--top {
        border-bottom: .1rem solid white;
        padding: .5rem; }
      .products__main__navbar__art-of-the-month {
        background-color: #236ED4;
        color: #f7f7f7;
        margin: 1rem 0;
        padding: .5rem .5rem;
        cursor: pointer;
        z-index: 1; }
      .products__main__navbar--title {
        background-color: #236ED4;
        color: #f7f7f7;
        margin: 1rem 0 0;
        padding: .25rem .5rem;
        cursor: pointer; }
      .products__main__navbar .funkyradio {
        padding: .5rem .5rem 0 1.25rem; }
    .products__main__products__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      position: relative; }
      .products__main__products__info .part-gray {
        height: 83%;
        flex: 3;
        background-color: rgba(32, 32, 32, 0.5);
        align-self: flex-start;
        padding: 3% 6%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -1rem;
        left: 0;
        opacity: 0;
        transition: all .5s; }
        .products__main__products__info .part-gray .summary {
          flex: 3;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          opacity: .75; }
          .products__main__products__info .part-gray .summary p {
            color: #EDEDED;
            overflow: hidden; }
        .products__main__products__info .part-gray .price {
          text-shadow: 0 0 2px rgba(0, 0, 0, 0.5); }
        .products__main__products__info .part-gray .icon {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 48%;
          cursor: pointer; }
          .products__main__products__info .part-gray .icon i {
            color: #EDEDED;
            transition: linear .2s; }
            .products__main__products__info .part-gray .icon i:hover {
              font-size: 1.5rem;
              color: white; }
      .products__main__products__info .part-red {
        width: 100%;
        background-color: #f65454;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 3% 6%;
        z-index: 5;
        bottom: -1rem;
        left: 0;
        position: absolute;
        opacity: 0;
        transition: all .25s; }
        .products__main__products__info .part-red p {
          text-transform: uppercase;
          font-size: .85rem; }
      .products__main__products__info:hover > .part-gray {
        top: 0;
        opacity: 1; }
      .products__main__products__info:hover > .part-red {
        bottom: 0;
        opacity: 1; }
