* {
	margin: 0; 
	padding: 0;
}

.add-item {
	margin-top: 5px;
	border-radius: 4px !important;
	width: 100%;
}

.logo {
	width: 30px;
	height: auto;
	margin: 8px 15px;
}

.navbar-brand {
	color: #007BC3 !important;
	font-size: 2.2rem;
}

sup {
	color: #c0c9d0;
	font-size: 1.2rem;
}

.glyphicon.glyphicon-trash {
	display: none;
	padding: 0 6px;
}

a.list-group-item:hover {
	cursor: move;
}

span.glyphicon.glyphicon-trash:hover {
	cursor: pointer !important;
}

.list-group-item:hover > .glyphicon.glyphicon-trash {
	display: block;
}

h4.card {
	padding: 10px 14px;
	background-color: #d4dade;
	border: 1px solid none;
	border-radius: 3px;
}

.ui-state-highlight {
	background-color: #d4dade;
	height: calc(1.5rem + 22px);
	display: block;
}

.dragging {
	-ms-transform: rotate(0.3deg);
	-webkit-transform: rotate(0.3deg);
	transform: rotate(0.3deg);
}

.sort-list {
	min-height: calc(1.5rem + 20px);
	background-color: #fafbfb; 
	border: 1px solid none;
	border-radius: 3px;
}

span#count {
	margin: -38px 12px;
}

#count.badge {
	padding: 4px 12px;
}


