//Color.scss

$color-bg-main: linear-gradient(to top, #014287, #3596fd, #89c2fe) no-repeat;
$color-border-input: lightgray;
$color-button: linear-gradient(to top, #014287, #3596fd);
$color-border-button: #0C80FF;
$color-bg-wrap: #9acafe;
