

* {
	font-family: $Oswald;
	color: $black;
}
html {
	font-size: 16px;
}

body {
	font-family: $Oswald;
	line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	font-weight: 500;
}

h1 {
	font-size: 2.25rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.875rem;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1.15rem;
}

p {
	font-weight: 300;
}

li, span, select {
	font-weight: 200;
}

span {
	font-size: 0.85rem;
}

a {
	color: $blue;
}

.white {
	color: white;
}

.red {
	color: $red;
}

.blue {
	color: $blue;
}

.center {
	text-align: center;
}