

* {
	font-family: $Oswald;
	color: $black;
	-webkit-font-smoothing: antialiased;
}
html {
	font-size: 16px;
	height: 100%;
	margin:0;
	padding:0;
}

body {
	font-family: $Oswald;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	font-weight: 500;
}

h1 {
	font-size: 2.25rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.8rem;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1.15rem;
}

p {
	font-weight: 300;
	text-align: justify;
}

li, span, select {
	font-weight: 300;
	font-size: 1rem;
}

span {
	font-size: 1rem;
}

a {
	color: $blue;
}

.lead {
	font-weight: 400;
	font-size: 1.15rem;
	margin-bottom: .5rem;
}

.white {
	color: white;
}

.red {
	color: $red;
}

.blue {
	color: $blue;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}