@import 'https://fonts.googleapis.com/css?family=Oswald:200,300,400,500&subset=vietnamese';


//Variables
$red: #FF555C;
$blue: #236ED4;
$lightgray: #EDEDED;
$darkgray: #696969;
$gray: #BDBDBD;

//Fonts
$Oswald: 'Oswald', sans-serif;
@font-face {
    font-family: 'Deadstock';
    src: url('../fonts/Dead Stock - Demo.ttf');
}
@font-face {
    font-family: 'Streamster';
    src: url('../fonts/Streamster.ttf');
}
//Colors

//Imports
@import 'reset';
@import 'typography';

#test {
	color: $red;
}

//btn modifications
.btn-danger {
	background-color: $red;
	border-radius: 100px;
	border: none;
	font-weight: 200;
	text-transform: uppercase;
	font-size: 1.25rem;
	padding: 0.75rem 2.5rem;
}

//Home page

.home-brands {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	background-color: $lightgray;
	margin-top: 3rem;
	padding: 2rem 0 2rem 0;
}

.home-brands-holder {
	justify-self: center;
	align-self: center;
	padding: 6px 0 6px 0;
}

.home-brand {
	padding: 3px 6px;
}

.home-infographic-holder {
	margin: 0 30px 0 30px;
	padding: 3rem 0 3rem 0;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

.home-infographic {
	justify-self: center;
	align-self: center;
}

.home-infographic > * {
	text-align: center;
}

.home-infographic-footer {
	padding: 1rem 0 1rem 0;
	background-color: $red;
}

#home-art-panels {
	margin: 4rem 0;
	min-height: 90vh;
	overflow: hidden;
	display: flex;
	padding: 0 8rem;
}

.home-panel {
	background: $red;
	box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
	color: white;
	text-align: center;
	align-items: center;
	transition:
	  font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
	  flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
	  background 0.2s;
	font-size: 1rem;
	background-size: cover;
	background-position: center;
	flex: 1;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	p {
		text-shadow: 0 0 4px rgba(0, 0, 0, 0.65), 0 0 10px rgba(0, 0, 0, 0.45);
	}

	p:nth-child(2){
		font-family: 'Deadstock';
		font-size: 3rem;
	}
}

.home-panel > * {
      margin:0;
      width: 100%;
      transition: transform 0.5s;
      flex: 1 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }

.panel1 { background-image:url('../images/panels/panel1.jpg'); }
.panel2 { background-image:url('../images/panels/panel2.jpg'); }
.panel3 { background-image:url('../images/panels/panel3.jpg'); }
.panel4 { background-image:url('../images/panels/panel4.jpg'); }
.panel5 { background-image:url('../images/panels/panel5.jpg'); }

.home-panel > *:first-child {transform: translateY(-100%);}
.home-panel.open-active > *:first-child {transform: translateY(0);}    
.home-panel > *:last-child {transform: translateY(100%);}
.home-panel.open-active > *:last-child {transform: translateY(0);}


.home-panel.open {
  font-size: 2rem;
  flex: 5;
}

.home-best-sellers-holder {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

#home-airbnb-feature {
	min-height: 90vh;
	display: flex;
	flex-direction: column;
}

.home-airbnb-holder {
	position: relative;
	background-size: cover;
	background-position: center;
	h3 {
		font-family: 'Deadstock';
		font-size: 4rem;
		text-transform: none;
		color: white;
		text-align: center;
		text-shadow: 0 0 8px rgba(0, 0, 0, 0.25), 0 0 10px rgba(0, 0, 0, 0.1);
	}
	p {
		text-align: center;
		font-weight: 400;
		font-size: 1.5rem;
	}

	div {
		width: 20%;
	}
}

.home-airbnb-cover { 
	background-image:url('../images/airbnb-cover/airbnb-cover.jpg');
	min-height: 100vh;
}

#home-airbnb-logo {
	position: absolute;
	bottom: 0;
	margin: 0.5rem;
}

 #home-airbnb-art {
 	@extend #home-airbnb-logo;
 	right: 0;
 }

 #home-airbnb-button {
 	@extend #home-airbnb-logo;
 	left: 45%;
 	bottom: -2rem;
 }

//Footer
#footer {
	margin: 5rem 0;
	background-color: $lightgray;
	hr {
		margin: 0;
	}
}

.footer-break {
	background-color: $red;
	height: 3rem;
}

.footer-info {
	display: grid;
	grid-template-columns: repeat(4, 2fr) 3fr;
}

.footer-info__element {
	padding: 3rem 2rem;
	h6 {
		text-transform: none;
		text-decoration: underline;
		color: $red;
		letter-spacing: -0.05rem;
	}
	li {
		padding: 0 0.5rem 0;
		color: $darkgray;
		line-height: 2rem;
	}
}

.footer-info__payments {
	padding: 3rem 2rem;
	display: flex;
	flex-direction: column;
	select {
		height: 2.2rem;
		background: transparent;
		color: $darkgray;
		border: 1.2px solid white;
	}
	> * {
		margin: .2rem 0;
	}

	> *:last-child {
		margin: 1rem 0;
	}
}

.footer-info__payments__icons {
	i {
		color: $darkgray;
	}
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	> * {
		justify-self: center;
		align-self: center;
	}
}

.footer-info__bottom {
	background-color: white;
	padding: 1rem;
	color: $darkgray;
	text-align: center;
}


